#spacer {
    padding-top: 5%;
}

#imgfpage {
    width: 100%;
}

.response {
    margin-left: 5%;
}

#pagination {
    display: flex;
    justify-content: center;
}

#comment_parentId {
    display: none;
}






@media (max-width: 800px) {
    #services {
        display: flex;
        flex-direction: column;
    }
    #service {
        max-width: 100%;
    }
}